{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contactos</h1>
    <a href="{{ path('nuevo') }}">Añadir contacto</a>
    <ul>
        {% for contacto in contactos %}
            <li>
                <a href="{{ path('ficha_contacto', {'id': contacto.id}) }}">{{ contacto.nombre }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}